pip>=26.0.1
streamlit==1.26.0
pdfplumber==0.10.1
pandas==2.0.3
scikit-learn==1.2.2
torch==2.0.1
sentence-transformers==2.2.2
huggingface_hub==1.36.0
rich==14.3.2
markdown-it-py==4.0.0
mdurl==0.1.2
pygments==2.19.2
